    # Be sure to only have this line once in your configuration
    NameVirtualHost 127.0.0.1:8888

    # This is the configuration for aulaVirtual
    Listen 127.0.0.1:8888

    <VirtualHost 127.0.0.1:8888>
      ServerName aulaVirtual.localhost
      DocumentRoot "C:\wamp\www\aulaVirtual\web"
      DirectoryIndex index.php
      <Directory "C:\wamp\www\aulaVirtual\web">
        AllowOverride All
        Allow from All
      </Directory>

      Alias /sf "C:\wamp\www\aulaVirtual\lib\vendor\symfony\data\web\sf"
      <Directory "C:\wamp\www\aulaVirtual\data\web\sf">
        AllowOverride All
        Allow from All
      </Directory>
    </VirtualHost>
